* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-image: url('balloons.jpg');
  background-size: cover;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 1rem;
  text-align: center;
}

.container {
  background-color: rgba(255, 255, 255, 0.75);
  width: 80%;
  max-width: 1000px;
  margin: 2em auto;
  padding: 2em;
  border-radius: 15px;
}

h1 {
  margin: 0.5em 0 0;
}

h2 {
  font-size: 3.125rem;
  margin: 0 0 0.4em 0;
}

button {
  border: 4px solid red;
  border-radius: 5px;
  padding: 0.625em 0 0.625em 0;
  color: white;
  font-weight: bold;
  width: 200px;
  margin-bottom: 0.3125em;
}

#increment-btn {
  background: white;
  color: black;
}

#save-btn {
  background: black;
}
